.secaoApresentacao {
    background: url(../../IMG/casamoderna.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

