.secaoApresentacao {
    align-items: center;
    background: url(../../IMG/casacabecalho.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
}

