.cabecalho__titulo  {
    font-family: var(--fonte-titulo); 
    font-weight: 700;
    font-size: 4.5em;
}
.cabecalho__titulo a {
    color: orangered;
    text-decoration: none;
    text-shadow: 2px 2px 2px white;
}

@media screen and (max-width: 768px) {
    .cabecalho__titulo, .cabecalho__titulo a {
        margin-bottom: 2rem;
        text-align: center;
        width: 100%;
    }
}