.cabecalho__Nav {
    display: flex;
}

@media screen and (max-width: 768px) {
    .cabecalho__Nav  {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        text-align: center;
        width: 100%;
    }
}