.form__itens--label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.form__itens--select {
    font-size: 16px;
    padding: 8px 5px;
    width: 100%;
}

.itens__primeira-opcao {
    color: gray;
    text-decoration-color: gray;
    font-weight: 100;
}

.form__itens--botao {
    align-self: flex-end;
    background: rgba(5, 177, 5, 0.747);
    border: none;
    border-radius: 2px;
    color: var(--branco);
    font-weight: bold;
    padding: 12px 5px;
    width: 15%;
    height: 85%;
}

.form__itens--botao:hover {
    background: rgba(5, 177, 5, 0.918);
    transition: 0.5s;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .form__itens--label {
        text-align: center;
    }

    .form__itens--select {
        margin-left: auto;
        margin-bottom: 1rem;
        width: 100%;
    }

    .form__itens--botao {
        width: 100%;
        margin-top: 1rem;
    }
}