.rodape__titulo {
    font-family: var(--fonte-titulo);
    font-weight: bold;
    font-size: 4em;
    margin-left: auto;
}

.rodape__titulo a {
    color: orangered;
    text-decoration: none;
    text-shadow: 2px 2px 2px white;
}

@media screen and (max-width: 768px) {
    .rodape__titulo {
        text-align: center;
        margin-left: 0;
    }
}

@media screen and (min-width: 768px) {
    .rodape__titulo {
        margin-left: auto;
    }
}