.rodape__social {
    flex-flow: row wrap;
    margin: 0 6%;
}

.rodape__social___lista {
    align-items: center;
    display: flex;
    width: 100%;
}

.rodape__midia {
    margin: 0 3em;
}

@media screen and (max-width: 768px) {
    .rodape__social {
        padding: 0 0 2rem;
    }

    .rodape__social___lista {
        padding: 0 0 2rem;
        justify-content: center;
        flex-flow: row wrap;
    }

    .rodape__midia {
        margin: 0 1em;
    }
}