.container {
    width: 94%;
    margin: 0 auto;
}

.cabecalho .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .form  {
    width: 85%;
    margin: 0 auto;
    align-items: baseline;
}

.novidades__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.sobreNos__pessoas {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container__descricao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .container {
        margin: 0;
        width: 100%;
    }

    .cabecalho .container {
        display: flex;
        align-items: center;
        flex-flow: column wrap;
        justify-content: space-between;
    }

    .container .form {
        width: 90%;
    }

    .novidades__container {
        flex-flow: column wrap;
    }

    .sobreNos__pessoas {
        flex-flow: column wrap;
    }
}