
:root {
    --branco: #FFFFFF;
    --laranja: orangered;
    --preto: #000000;

    --bg-form: #BBBBBB;
    --bg-card: #e7e3b8;
    --bg-butao: orangered;
}

body {
    font-family: 'Noto Sans', sans-serif;
}